/*------------------*/
//  #CARD
/*------------------*/

.deck {
  list-style: none;
  padding-inline-start: 0;

  .card {
    border: 1px solid hsl(var(--honey), 50%, 50%);
    border: 1px solid red; // ! testing
    border-radius: 0.5rem;
    // TODO: box-shadow: 0 0 0.5rem 0.5rem hsl(var(--honey), 100%, 99%);
    padding: 1rem;
    margin-block-end: var(--baseline);

    .card__takedownday {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .card__jobs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      hgroup {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
    }
  }
}
