/*------------------*/
//  #LINKS
/*------------------*/

a {
  // ? why not a louie color?
  color: hsl(var(--honey), 100%, 30%);
  // text-decoration: none;
  transition: 0.2s ease-in-out;
}

a:where(:hover, :focus) {
  color: hsl(var(--honey), 100%, 12.5%);
}

/*------------------*/
//  #HEADER
/*------------------*/

header {
  a {
    background-color: white;
    color: #111111; // TODO:
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.2s ease-in-out;
  }

  a:where(:hover, :focus) {
    background-color: #ff851b; // TODO:
  }
}

/*------------------*/
//  #LISTS
/*------------------*/

ul li a {
  padding: 0.5rem;
}

ul li a:where(:hover, :focus) {
  background: #ffdc00; // TODO:
}
