/*------------------*/
/* TYPOGRAPHY */
/*------------------*/

body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
}

h1 {
  font-family: "josefin-sans", sans-serif;
}

p {
  margin-block-start: 0;
  margin-block-end: 1.5rem;
}

/*------------------------------------*/

.capitalize {
  text-transform: capitalize;
}