:root {
  /*------------------------------------*/
  /* #COLOR */
  /*------------------------------------*/
  
  --honey: 35;

  /*------------------------------------*/

  --black-metal: hsl(0, 0%, 2.5%);
  --black-out: hsl(0, 0%, 12.5%);
  --raven-black: hsl(0, 0%, 25%);
  --industrial-revolution: hsl(0, 0%, 37.5%);
  --grey: hsl(0, 0%, 50%);
  --cold-grey: hsl(0, 0%, 62.5%);
  --tin-soldier: hsl(0, 0%, 75%);
  --kingly-cloud: hsl(0, 0%, 87.5%);
  --brilliance: hsl(0, 0%, 97.5%);

  /*------------------------------------*/

  --pitch: 2.5%;
  --dark: 12.5%;
  --dull: 25%;
  --dim: 37.5%;
  --mid: 50%;
  --light: 75%;
  --bright: 87.5%;
  --brilliant: 97.5%;

  /*------------------*/
  /* #SHADOWS */
  /*------------------*/

  /* Umbra is direct light - dark - for active down clicks */
  /* Antumbra is eclipsed - medium - for hover */
  /* Penumbra is obscured - light - for layering but waiting */

  --penumbra: 0 3px 6px hsla(0, 0%, 0%, 0.12), 0 2px 4px hsla(0, 0%, 0%, 0.1);
  --antumbra: 0 14px 24px hsla(0, 0%, 0%, 0.16),
    0 4px 12px hsla(0, 0%, 0%, 0.12);
  --umbra: 0 5px 12px hsla(0, 0%, 0%, 0.4) /* Ambient light shadow */,
    0 18px 32px hsla(0, 0%, 0%, 0.16) /* Direct light shadow */;

  /*------------------------------------*/
  /* #LAYOUT */
  /*------------------------------------*/

  --baseline: 1.5rem;

    /*------------------*/
  /*  #WIDTHS */
  /* https://en.wikipedia.org/wiki/Largest_living_flying_birds_by_wingspan */
  /*------------------*/
  --swan: 20rem;
  --vulture: 30rem;
  --stork: 40rem;
  --condor: 50rem;
  --pelican: 60rem;
  --albatross: 80rem;

  /*------------------------------------*/
  /* #TYPOGRAPHY */
  /*------------------------------------*/
  
  --heavyweight: 900;
  --bridgerweight: 800;
  --cruiserweight: 700;
  --welterweight: 600;
  --lightweight: 500;
  --featherweight: 400;
  --bantamweight: 300;
  --flyweight: 200;
  --atomweight: 100;

  /*------------------------------------*/
  /* #ANIMATION */
  /* doesnt have its own page so its not perfect and I dont want birds as I use wingpsan */
  /*------------------------------------*/
  --cheetah: 0.2s ease-in-out;
  /* --pronghorn: 0.2s ease-in-out; */
  /* --Springbok: 0.2s ease-in-out; */

}
